InterfazUsuario/src/conf/xml-resources/web-service-references/wsLogicaNegocioCliente/wsdl/localhost_8080/LogicaNegocio/wsLogicaNegocioCliente.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://cliente.jhano.lewissa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://cliente.jhano.lewissa.com/">

<xs:element name="actualizaDataBaseCliente" type="tns:actualizaDataBaseCliente"/>

<xs:element name="actualizaDataBaseClienteResponse" type="tns:actualizaDataBaseClienteResponse"/>

<xs:complexType name="actualizaDataBaseCliente">
<xs:sequence>
<xs:element name="cliCliente" type="tns:cCliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cCliente">
<xs:sequence>
<xs:element name="strCelular" type="xs:string" minOccurs="0"/>
<xs:element name="strConvencional" type="xs:string" minOccurs="0"/>
<xs:element name="strCorreo" type="xs:string" minOccurs="0"/>
<xs:element name="strDireccion" type="xs:string" minOccurs="0"/>
<xs:element name="strIdCliente" type="xs:string" minOccurs="0"/>
<xs:element name="strNombreComercial" type="xs:string" minOccurs="0"/>
<xs:element name="strNombreFiscal" type="xs:string" minOccurs="0"/>
<xs:element name="strTipoCliente" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizaDataBaseClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>