LogicaNegocio/web/WEB-INF/wsdl/localhost_8080/AccesoDatos/wsAccesoDatos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.accesodatos.jhano.lewissa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.accesodatos.jhano.lewissa.com/">

<xs:element name="actualizarDataBase" type="tns:actualizarDataBase"/>

<xs:element name="actualizarDataBaseResponse" type="tns:actualizarDataBaseResponse"/>

<xs:complexType name="actualizarDataBase">
<xs:sequence>
<xs:element name="strSql" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarDataBaseResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>