LogicaNegocio/src/conf/xml-resources/web-service-references/wsAccesoDatos/wsdl/localhost_8080/AccesoDatos/wsAccesoDatos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.accesodatos.jhano.lewissa.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.accesodatos.jhano.lewissa.com/" name="wsAccesoDatos">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.accesodatos.jhano.lewissa.com/" schemaLocation="http://localhost:8080/AccesoDatos/wsAccesoDatos?xsd=1"/>
</xsd:schema>
</types>
<message name="insertarProveedor">
<part name="parameters" element="tns:insertarProveedor"/>
</message>
<message name="insertarProveedorResponse">
<part name="parameters" element="tns:insertarProveedorResponse"/>
</message>
<message name="wsTestConexion">
<part name="parameters" element="tns:wsTestConexion"/>
</message>
<message name="wsTestConexionResponse">
<part name="parameters" element="tns:wsTestConexionResponse"/>
</message>
<message name="insertarCliente">
<part name="parameters" element="tns:insertarCliente"/>
</message>
<message name="insertarClienteResponse">
<part name="parameters" element="tns:insertarClienteResponse"/>
</message>
<portType name="wsAccesoDatos">
<operation name="insertarProveedor">
<input wsam:Action="http://ws.accesodatos.jhano.lewissa.com/wsAccesoDatos/insertarProveedorRequest" message="tns:insertarProveedor"/>
<output wsam:Action="http://ws.accesodatos.jhano.lewissa.com/wsAccesoDatos/insertarProveedorResponse" message="tns:insertarProveedorResponse"/>
</operation>
<operation name="wsTestConexion">
<input wsam:Action="http://ws.accesodatos.jhano.lewissa.com/wsAccesoDatos/wsTestConexionRequest" message="tns:wsTestConexion"/>
<output wsam:Action="http://ws.accesodatos.jhano.lewissa.com/wsAccesoDatos/wsTestConexionResponse" message="tns:wsTestConexionResponse"/>
</operation>
<operation name="insertarCliente">
<input wsam:Action="http://ws.accesodatos.jhano.lewissa.com/wsAccesoDatos/insertarClienteRequest" message="tns:insertarCliente"/>
<output wsam:Action="http://ws.accesodatos.jhano.lewissa.com/wsAccesoDatos/insertarClienteResponse" message="tns:insertarClienteResponse"/>
</operation>
</portType>
<binding name="wsAccesoDatosPortBinding" type="tns:wsAccesoDatos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="wsTestConexion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsAccesoDatos">
<port name="wsAccesoDatosPort" binding="tns:wsAccesoDatosPortBinding">
<soap:address location="http://localhost:8080/AccesoDatos/wsAccesoDatos"/>
</port>
</service>
</definitions>